app-contentx{
  padding-right: 0px !important;
  margin-left: 0.5rem !important;
}
#row-control{
  padding-right: 0px !important;
  margin-left: 0.5rem !important;
}
.form-control{
  height: 2rem;
}
.cart-section i{
  color: skyblue;
}

.products{
  margin: 1rem 0rem 1rem 0.2rem ;
}
app-index{
  // background-color: red;
  padding: 0.1rem;
}
