<nav class="navbar navbar-expand-sm navbar-dark bg-primary flex-sm-nowrap flex-wrap">
  <div class="container-fluid">
    <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbar5">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand flex-grow-1 brant-margin"><a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img class="rounded-1" [src]="'assets/brand.png'" height="50" alt="Web Logo" loading="lazy" />
      </a></span>
    <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="navbar5">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/group/Home" routerLinkActive="test">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/group/Home" routerLinkActive="test">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buy/cart" routerLinkActive="test">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buy/wishlist" routerLinkActive="test">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pro/profile" routerLinkActive="test">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pro/edit-profile" routerLinkActive="test">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/pro/sign-up" routerLinkActive="test">sign up</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/pro/login" routerLinkActive="test">Login</a> -->
          <a class="nav-link btn" (click)="loginFunc()" [hidden]="user">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="logoutFunc()" [hidden]="!user">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/admin/new-product" routerLinkActive="test">Admin</a>
        </li>
      </ul>
    </div>
    <div class="flex-grow-1">
      <!--spacer-->
    </div>
  </div>
</nav>

