

.row{
  background-image: url('../../../assets/header01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // height: 2.5rem;
  flex-direction: column;
}
h3{
  color: skyblue;
  text-align: center;
  margin-bottom: 0.2rem;
}
