img {
  // background-color: aqua;
  border-radius: 10%;
  width: 100%;
  height: 9rem;

}

// #product>div{
//   border: 1px solid transparent;
// }
// #product{
//   flex-wrap: nowrap;
// }

.card-content p {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.1rem;
}

.card-content li {
  display: inline;
  margin-right: 0.4rem;
}

.card-content ul {
  padding-left: 0px;
}
.list-inline{
  margin-bottom: 0.1rem !important;
}
h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #7ac400;
  left: 0;
  right: 0;
  bottom: -20px;
}

.item {
  color: #747d89;
  min-height: 325px;
  text-align: center;
  overflow: hidden;
}

.thumb-wrapper {
  padding: 25px 15px 0 15px;
  margin-bottom: 0.5rem;
  height: 23rem;
  background: #fff;
  // border-radius: 6px;
  text-align: center;
  position: relative;
  // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.item .img-box {
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.img-fex{
  border-radius: 0px !important;
  margin-bottom: 0.5rem;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

h6 {
  font-size: 0.9rem !important;
}

@media only screen and (max-width: 600px) {
  h6 {
    font-size: 0.9vw !important;
  }
}

.item h4,
.item p,
.item ul {
  margin-bottom: 5px;
}

.thumb-content {
  // height: 15rem !important;
  align-items: end;
  align-content: end;
  justify-content: end;
  // background-color: #ff6161;
}

.thumb-content .btn {
  color: skyblue;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid skyblue;
  padding: 6px 14px;
  margin-top: 5px;
  line-height: 16px;
  border-radius: 20px;
  width: 100%;
  &{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.thumb-content .btn:hover,
.thumb-content .btn:focus {
  color: hsl(0, 0%, 100%);
  background: skyblue;
  box-shadow: none;
}

.thumb-content .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.item-price {
  font-size: 13px;
  padding: 2px 0;
  margin-bottom: 0.1rem;
}

.item-cate {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}
$icon-vertical : 69%;
$icon-horezintal : 20%;

.wish-icon {
  position: absolute;
  right: $icon-horezintal;
  top: $icon-vertical;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  color: #abb0b8;
}
.cart-icon{
  position: absolute;
  left: $icon-horezintal;
  top: $icon-vertical;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  color: #abb0b8;
}
.buttons>a{
  margin-right: 0.2rem;
}
.wish-icon .fa-heart {
  color: #ff6161;
}
.cart-icon .fa-cart-plus {
  color: skyblue;
}

.star-rating li {
  padding: 0;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}



#scroll-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
