<section class="bgH" style="background-color: #eee;">
  <div class="container h-100 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">A-E-D For Product</p>

                <form class="mx-1 mx-md-4" (ngSubmit)="addOrEditProduct()" (keydown.enter)="$event.preventDefault()">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-tag fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="form3Example1c" min="0" [disabled]="formProductId" class="form-control "
                        placeholder="Product ID" required name="searchId" [(ngModel)]="formIdValue" (blur)="searchForId()" (keydown.enter)="searchForId()"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-brands fa-product-hunt fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" minlength="10" class="form-control "
                        placeholder="Product Name" required [(ngModel)]="product.name" name="name" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-circle-info fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control " placeholder="Product Description"
                        required [(ngModel)]="product.discriptions" name="discriptions" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-link fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control " placeholder="Product Img Link"
                        required [(ngModel)]="product.img" name="img" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-hashtag fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <form class="form-floating">
                        <input type="number" class="form-control" id="floatingInputValue" min="0"
                          placeholder="Product Quantity" value="0" [(ngModel)]="product.quantity" name="quantity">
                        <label for="floatingInputValue">Product Quantity</label>
                      </form>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-dollar-sign fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <form class="form-floating">
                        <input type="number" class="form-control" id="floatingInputValue" min="0"
                          placeholder="Product Price" value="0" [(ngModel)]="product.price" name="price">
                        <label for="floatingInputValue">Product Price</label>
                      </form>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-percent fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <form class="form-floating">
                        <input type="number" class="form-control" id="floatingInputValue" min="0"
                          placeholder="Product Discount" value="0" [(ngModel)]="product.descount" name="descount">
                        <label for="floatingInputValue">Product Discount</label>
                      </form>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa-solid fa-bars fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <form class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                          [(ngModel)]="product.categoryId" name="categories">
                          <option selected>Open this Category menu</option>
                          <ng-container *ngFor="let category of categories">
                            <option value="{{category.id}}" [ngValue]="category.id" *ngIf="category.id != 0">
                              {{category.name}}</option>
                          </ng-container>
                        </select>
                        <label for="floatingSelect">Product Category</label>
                      </form>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="submit" class="btn btn-sm btn-primary me-3" value="Save Product">

                    <input type="button" class="btn btn-sm btn-primary me-3" value="Edit Product" (click)="formIdField()">

                    <input type="button" class="btn btn-sm btn-primary" value="Delete Product" [disabled]="formProductId" (click)="deleteProduct()">
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
