<section class="bgH" style="background-color: #eee;">
  <div class="container h-100 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12 col-xl-12 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="userForm" class="mx-1 mx-md-4">
                  <!-- Full Name -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" name="fullName"
                        [ngClass]="{'is-invalid':(fullName?.touched || fullName?.dirty) && !fullName?.valid , 'is-valid':fullName?.valid} "
                        formControlName="fullName" placeholder="Full Name (required)" />
                      <span class="invalid-feedback">
                        <span *ngIf="(fullName)?.errors?.['required']">Please enter full name</span>
                        <span *ngIf="(fullName)?.errors?.['minlength']">Full name must be longer than 5</span>
                      </span>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" name="email" formControlName="email"
                        placeholder="Your Email"
                        [ngClass]="{'is-invalid':(email?.touched || email?.dirty) && !email?.valid, 'is-valid':email?.valid}" />
                      <span class="invalid-feedback">
                        <span *ngIf="(email)?.errors?.['required']">Please enter email</span>
                        <span *ngIf="(email)?.errors?.['email']">Please enter valid email</span>

                      </span>
                    </div>
                  </div>

                  <div formGroupName="passwordGroup">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" name="password"
                          formControlName="password" placeholder="Password"
                          [ngClass]="{'is-invalid': ((userForm.get('passwordGroup.password')?.touched ||
                          userForm.get('passwordGroup.password')?.dirty) &&
                          !userForm.get('passwordGroup.password')?.valid),'is-valid': userForm.get('passwordGroup.password')?.valid }" />
                        <span class="invalid-feedback">
                          Please enter your password
                        </span>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" class="form-control"
                          formControlName="confirmPassword" name="confirmPassword" placeholder="Repeat your password"
                          [ngClass]="{'is-invalid':userForm.get('passwordGroup')?.errors ||
                          ((userForm.get('passwordGroup.confirmPassword')?.touched ||
                          userForm.get('passwordGroup.confirmPassword')?.dirty) &&
                          !userForm.get('passwordGroup.confirmPassword')?.valid),'is-valid': userForm.get('passwordGroup.confirmPassword')?.valid}" />
                        <span class="invalid-feedback">
                          <span *ngIf="userForm.get('passwordGroup.confirmPassword')?.errors?.['required']">
                            Please enter your confirm password
                          </span>
                          <span *ngIf="userForm.get('passwordGroup')?.errors?.['match']">
                            Password not match confirm passowrd
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <label for="text" class="form-label"><b>Mobile: </b></label>

                  <div formArrayName="mobile">
                    <div *ngFor="let mob of mobile.controls; let i = index">
                      <div>
                        <div class="d-flex flex-row align-items-center mb-4" [formGroupName]="i">
                          <div class="form-outline flex-fill mb-0">
                            <input type="number" maxlength="11" [id]="'form3Example9cd'+i" class="form-control"
                              name="mobile" formControlName="mobile" placeholder="Mobile number"
                              [ngClass]="{'is-invalid':(this.mobile.controls[i].touched || this.mobile.controls[i].dirty) && !this.mobile.controls[i].valid}" />
                            <span class="invalid-feedback">
                              <span *ngIf="this.mobile.controls[i].get('mobile')?.errors?.['required']">
                                Mobile is required
                              </span>
                              <span *ngIf="this.mobile.controls[i].get('mobile')?.errors?.['pattern']">
                                Mobile not valid {{this.mobile.controls[i].errors?.['pattern']}}
                              </span>
                            </span>
                            {{this.mobile.controls[i].errors}}
                          </div>
                          <div class="form-outline flex-fill mb-0">
                            <button class="btn btn-sm btn-success ms-2" [disabled]="i==0"
                              (click)="removeMobile(i)">Remove</button>
                          </div>
                          <!-- <span>{{i}}</span>
                          <span>{{this.mobile.controls[i].valid}}</span>
                          <span>{{this.mobile.controls[i].touched}}</span>
                          <span>{{this.mobile.controls[i].dirty}}</span> -->
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <button class="btn btn-sm btn-success ms-0" (click)="addMobile()">Add Mobile</button>


                  </div>
                  <label for="text" class="form-label"><b>Address: </b></label>

                  <div formArrayName="address">
                    <div *ngFor="let add of address.controls; let i = index">
                      <div class="d-flex flex-row align-items-center mb-4" [formGroupName]="i">
                        <div class="form-outline flex-fill ms-2">
                          <input type="text" id="form3Example5cd" class="form-control" name="city"
                            formControlName="city" placeholder="City" [ngClass]="{'is-invalid':(this.address.controls[i].get('city')?.touched
                            || this.address.controls[i].get('city')?.dirty)
                            && !this.address.controls[i].get('city')?.valid}" />

                          <span class="invalid-feedback">
                            <span *ngIf="this.address.controls[i].get('city')?.errors?.['required']">
                              City is required
                            </span>
                          </span>

                        </div>
                        <div class="form-outline flex-fill ms-2">
                          <input type="text" id="form3Example6cd" class="form-control" name="postalCode"
                            formControlName="postalCode" placeholder="Postl Code"
                            [ngClass]="{'is-invalid':(this.address.controls[i].get('postalCode')?.touched
                            || this.address.controls[i].get('postalCode')?.dirty)
                            && !this.address.controls[i].get('postalCode')?.valid}" />

                          <span class="invalid-feedback">
                            <span *ngIf="this.address.controls[i].get('postalCode')?.errors?.['required']">
                              PostalCode is required
                            </span>
                          </span>

                        </div>
                        <div class="form-outline flex-fill ms-1">
                          <input type="text" id="form3Example7cd" class="form-control" name="street"
                            formControlName="street" placeholder="Street"
                            [ngClass]="{'is-invalid':(this.address.controls[i].get('street')?.touched
                            || this.address.controls[i].get('street')?.dirty)
                            && !this.address.controls[i].get('street')?.valid}" />

                          <span class="invalid-feedback">
                            <span *ngIf="this.address.controls[i].get('street')?.errors?.['required']">
                              Street is required
                            </span>
                          </span>

                        </div>
                        <div class="form-outline flex-fill mb-0">
                          <button class="btn btn-sm btn-success ms-2" [disabled]="i==0"
                            (click)="removeAddress(i)">Remove</button>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="d-flex ms-0 mx-4 mb-3 mb-lg-4">
                    <button type="" class="btn btn-danger btn-sm" (click)="addAddress()">Add another address</button>
                  </div>

                  <!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div> -->

                  <!-- Submit Button -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="submit" class="btn btn-primary btn-lg" [disabled]="userForm.invalid" value="Register">
                  </div>

                </form>

                {{userForm.value | json}}

              </div>
              <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <form (ngSubmit)="test()"  class="row" >
  <button type="submit" class="btn btn-success col-12">sign up</button>
</form> -->

<!-- <button class="btn btn-primary m-5" (click)="addUser()">Add User</button> -->
